#gameContainer {
    font-size: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#newGameButtonContainer {
    text-align: center;
}

.gameButton {
    background: none;
	border: none;
	outline: none;
    width: 100px;
    height: 100px;
    font-family: monospace;
    font-size: 40px;
}

.gameButton:hover {
    background: lightgoldenrodyellow;
}

#b01 {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

#b10 {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#b11 {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

#b12 {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#b21 {
    border-left: solid 1px black;
    border-right: solid 1px black;   
}